{
    "host": "https://HOST:20000",
    "auth": {
        "username": "USERNAME",
        "password": "PASSWORD"
    },
    "names": [
        "胡桃",
        "夜兰",
        "温迪",
        "可莉",
        "甘雨",
        "枫原万叶",
        "雷电将军",
        "妮露",
        "纳西妲",
        "流浪者",
        "班尼特",
        "行秋",
        "香菱",
        "久岐忍",
        "瑶瑶"
    ]
}